@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back{
  transform: rotateY(180deg)
}


html {
  scroll-behavior: smooth;
}

.profile-picture {
  border: solid 6px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top right, red, orange, yellow);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.4);
}


